@import url("../grid-framework/main.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: Norse;
  src: url("../../src/font/Norsebold.otf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
  max-width: 100%;
}

.btn {
  background-color: #6abfc3;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.py-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/***** STYLES *****/
/* header */
.main-header {
  font-size: 1rem;
  padding: 10px 168px;
  margin-bottom: 50px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .main-header {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .main-header {
    padding: 5px 20px;
  }
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.main-header .logo-text {
  font-family: "Norse";
  flex: 1;
  color: #cc9543;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  padding-left: 0.5em;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .main-header .logo-text {
    font-size: 1.5rem;
  }
}

.main-header nav ul {
  display: flex;
  align-items: center;
}

.main-header nav a {
  color: #7f7f7f;
  padding: .5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
}

.main-header nav a:hover {
  color: #000;
}

@media (max-width: 991px) {
  .main-header nav a {
    font-size: 1rem;
  }
}

.main-header nav .divider::after {
  font-size: 1.5rem;
  content: "|";
  color: #7f7f7f;
  padding: .5rem;
}

@media (max-width: 767px) {
  .main-header nav {
    display: none;
  }
}

.main-header .burger-menu {
  display: none;
  color: #6abfc3;
}

.main-header .burger-menu .material-icons {
  font-size: 40px;
}

@media (max-width: 767px) {
  .main-header .burger-menu {
    display: block;
  }
}

/* main content */
.main {
  font-size: 1rem;
  margin-bottom: 50px;
}

.main .content-header {
  background-color: lightpink;
}

.main .content-header header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3.75rem;
  text-align: center;
}

.main .content-header header h1 {
  font-size: 2.25rem;
  font-weight: 100;
  color: #ce973e;
  padding-bottom: 1.875rem;
  line-height: 1.2;
}

.main .content-header header div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4.375rem;
}

.main .content-header header div p {
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
  line-height: 1.88;
}

.main .content-header header div a {
  color: #ce973e;
  text-decoration: underline;
  line-height: 24px;
}

.main .content-header header div a:hover {
  text-decoration: none;
  color: #000;
}

/* How it works */
.how-it-works {
  min-height: 400px;
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: lightsalmon;
}

.how-it-works .info {
  flex-flow: column;
  align-items: center;
  margin-bottom: 100px;
}

.how-it-works .info h2 {
  color: #4a4a4a;
  letter-spacing: 0.3px;
  margin-bottom: 54px;
}

.how-it-works .info p {
  color: #4a4a4ab3;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
}

.how-it-works .lbc-wrapper {
  justify-content: center;
}

@media (max-width: 767px) {
  .how-it-works .lbc-wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.how-it-works .lbc-wrapper .lbc {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
}

.how-it-works .lbc-wrapper .lbc img {
  height: 165px;
}

@media (max-width: 767px) {
  .how-it-works .lbc-wrapper .lbc img {
    height: 120px;
  }
}

.how-it-works .lbc-wrapper .lbc h4 {
  color: #4a4a4a;
  letter-spacing: 0.3px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.how-it-works .lbc-wrapper .lbc p {
  color: #4a4a4ab3;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
}

/* Curriculum details */
.curriculum-details {
  background: #f3f3f3;
  padding: 60px 0;
  margin-bottom: 70px;
}

.curriculum-details .curriculum-details-title {
  justify-content: center;
}

.curriculum-details .curriculum-details-title h2 {
  color: #4a4a4a;
  letter-spacing: 0.3px;
  margin-bottom: 54px;
}

.curriculum-details .curriculum-details-tiles {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.curriculum-details .curriculum-details-tiles .tile {
  padding: 23px 46px 25px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  margin: 0 30px 30px 0;
  max-width: 254px;
}

@media (max-width: 575px) {
  .curriculum-details .curriculum-details-tiles .tile {
    height: 150px;
    margin: 0 auto 15px;
    padding: 25px;
    width: 270px;
    max-width: 270px;
  }
}

.curriculum-details .curriculum-details-tiles .tile img {
  height: 160px;
  width: 160px;
}

@media (max-width: 575px) {
  .curriculum-details .curriculum-details-tiles .tile img {
    height: 80px;
    width: 80px;
  }
}

.curriculum-details .curriculum-details-tiles .tile h4 {
  color: #4a4a4a;
  letter-spacing: 0.3px;
  margin-top: 18px;
}

@media (max-width: 575px) {
  .curriculum-details .curriculum-details-tiles .tile h4 {
    margin-top: 10px;
    font-size: 1.125rem;
  }
}

.curriculum-details .btn {
  background-color: #ce973e;
  margin: 40px 0 0 0;
}

/* Success Stories  */
.success-stories {
  background-image: linear-gradient(to bottom, #fff, #eee);
}

.success-stories .success-stories-title {
  margin-bottom: 100px;
}

@media (max-width: 480px) {
  .success-stories .success-stories-title {
    margin-bottom: 10px;
  }
}

.success-stories .success-stories-title h2 {
  color: #4a4a4a;
  letter-spacing: 0.3px;
}

.success-stories .success-stories-container {
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1199px) {
  .success-stories .success-stories-container {
    flex-flow: column nowrap;
  }
}

.success-stories .success-stories-container .story {
  flex-basis: 49.9%;
  padding-bottom: 56px;
}

@media (max-width: 1199px) {
  .success-stories .success-stories-container .story {
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .success-stories .success-stories-container .story {
    padding-bottom: 0;
  }
}

.success-stories .success-stories-container .story .story-image {
  flex-basis: 100px;
  text-align: center;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .success-stories .success-stories-container .story .story-image {
    display: none;
  }
}

.success-stories .success-stories-container .story .story-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.success-stories .success-stories-container .story .story-info {
  flex-flow: column;
  flex: 1;
  line-height: 24px;
}

.success-stories .success-stories-container .story .story-info a {
  color: #ce973e;
  font-size: 18px;
}

@media (max-width: 480px) {
  .success-stories .success-stories-container .story .story-info a {
    height: 90px;
    display: flex;
    align-items: center;
  }
}

.success-stories .success-stories-container .story .story-info p {
  color: #7f7f7f;
  line-height: 1.88;
  font-size: 1.125rem;
}

.success-stories .success-stories-read-more {
  padding-top: 30px;
}

.success-stories .success-stories-read-more a {
  text-decoration: underline;
  color: #4a4a4ab3;
}

.success-stories .success-stories-read-more a:hover {
  color: #000;
}

.success-stories .success-stories-start-learning {
  font-weight: 100;
  padding: 5em 2.5em;
  text-align: center;
  flex-flow: column;
}

.success-stories .success-stories-start-learning p {
  color: rgba(74, 74, 74, 0.7);
  font-size: 2.2em;
  line-height: 1.5em;
  margin: 0 auto 1rem;
  max-width: 25em;
}

@media (max-width: 480px) {
  .success-stories .success-stories-start-learning p {
    font-size: 1.75rem;
  }
}

.success-stories .success-stories-start-learning .btn {
  margin-top: 2em;
}

@media (max-width: 480px) {
  .success-stories .success-stories-start-learning .btn {
    padding: 16px 40px;
  }
}
