@import url("../grid-framework/main.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {
    font-family: Norse;
    src: url("../../src/font/Norsebold.otf");
  }

// variables
$color-odin: #ce973e;
$color-gray: #7f7f7f;
$button-primary: #6abfc3;

//global
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//extra utility
.container-fluid {
    max-width: 100%;
}

.btn {
    background-color: $button-primary;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;

    &:hover {
        opacity: 0.8;
        color: #fff;
        text-decoration: none;
    }
}

.py-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/***** STYLES *****/
/* header */
.main-header {
    font-size: 1rem;
    padding: 10px 168px;
    margin-bottom: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 991px) {
        padding: 20px;
    }

    @media(max-width: 767px) {
        padding: 5px 20px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    
    .logo-text {
        font-family: "Norse";
        flex: 1;
        color: #cc9543;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: bold;
        font-size: 2rem;
        display: inline-block;
        padding-left: 0.5em;
        white-space: nowrap;

        @media(max-width: 991px) {
            font-size: 1.5rem;

        }
    }

    nav {

        ul {
            display: flex;
            align-items: center;
        }

        a {
            color: $color-gray;
            padding: .5rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            white-space: nowrap;

            &:hover {
                color: #000; 
            }

            @media(max-width: 991px) {
                font-size: 1rem;
            }
        }

        .divider {
            &::after {
                font-size: 1.5rem;
                content: "|";
                color: #7f7f7f;
                padding: .5rem;
            }
        }

        @media(max-width: 767px) {
            display: none;
        }
    }
    
    .burger-menu {
        display: none;
        color: #6abfc3;

        .material-icons {
            font-size: 40px;
        }

        @media(max-width: 767px) {
            display: block;
        }
    }
}

/* main content */
.main {
    font-size: 1rem;
    margin-bottom: 50px;
    

    .content-header {
        background-color: lightpink;
        header {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 3.75rem;
            text-align: center;

            h1 {
                font-size: 2.25rem;
                font-weight: 100;
                color: $color-odin;
                padding-bottom: 1.875rem;
                line-height: 1.2;
            }

            div {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 4.375rem;

                p {
                    color: rgba(74,74,74,0.7);
                    font-size: 1.125rem;
                    letter-spacing: 0.2px;
                    margin-bottom: 1rem;
                    line-height: 1.88;
                }
    
                a {
                    color: $color-odin;
                    text-decoration: underline;
                    line-height: 24px;

                    &:hover {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }

        }
    }
}

/* How it works */
.how-it-works {
    min-height: 400px;
    margin-top: 100px;
    margin-bottom: 70px;
    background-color: lightsalmon;

    .info {
        flex-flow: column;
        align-items: center;
        margin-bottom: 100px;

        h2 {
            color: #4a4a4a;
            letter-spacing: 0.3px;
            margin-bottom: 54px;
        }

        p {
            color: #4a4a4ab3;
            font-size: 1.125rem;
            letter-spacing: 0.2px;
            line-height: 1.88;
        }
    }

    .lbc-wrapper {
        justify-content: center;

        @media (max-width: 767px) {
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
        }

        .lbc {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 1rem;
            
            img {
                height: 165px;
                @media (max-width: 767px) {
                    height: 120px;
                }
            }

            h4 {
                color: #4a4a4a;
                letter-spacing: 0.3px;
                margin-top: 50px;
                margin-bottom: 20px;
            }
    
            p {
                color: #4a4a4ab3;
                font-size: 1.125rem;
                letter-spacing: 0.2px;
                line-height: 1.88;
            }
        }

        
    }
}


